*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    width: 100%;
    display: flex;
    position: fixed;
    height: 30px;
    background-color: black;
    z-index: 3000;
}
.contenedor-menu{
    width: 98%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-menu{ 
   color: #ffffff;
   display: none;
}
header .nav a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 15px;
}
header h1{
    color: #ffffff;
    font-size: 25px;
}

.portada{
    width: 100%;
    height:100vh;
    display: flex;
   justify-content: center;
   align-items:center;

}

.portada img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}
#imagen1{
background: #39444D;
flex-direction: column;
align-items: center;
}
#imagen1 h3{
    margin-top: 30px;
    color:#ffffff;
    font-size: 40px;

}
#imagen1 img{
    margin-top: 30px;
    width: 80%;
    height: 500px;
}
#imagen2{
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-around;   
}
#imagen2 .column1{
    width: 50%;
    background-color: #39444D;
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
}
#imagen2 .column1 h3{
    font-size: 40px;
  
    color: #ffffff;
}
.column1 img{
    width: 250px;
    margin-top: 30px;
}
#imagen2 .column2{
    width: 50%;
    background-color: #39444D;
    display: flex;
    justify-content: center;
    
}


.column2 img{
   height: 100%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}
.column2 h3{
    position: absolute;
    z-index: 400;
    color: #ffffff;
    font-size: 40px;
    margin-top: 47px;
}
#imagen3{
background: #2D3E50;
flex-direction: column;
display: flex;
align-items: center;
justify-content: center;
}

#imagen3 h3{
    font-size: 40px;
    color: #ffffff;
    text-align: center;

}

#imagen3 img{
    margin-top: 20px;
    width: 900px;   
}
#imagen4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
background-color:  #39444D;
}
#imagen4 img{
    margin-top: 10px;
   width: 1023px;
   height: auto; 
   margin-bottom: 20px;
}
#imagen4 h3{
   margin-top: 20px;
    font-size: 40px;
    color: #ffffff;
}

.section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px ;  
}
footer{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .texto{
 
 color: #ffffff;
 display: flex;
}
footer .redes{
   margin-top: 10px;
    color: #ffffff;
    display: flex;
    font-size: 20px;
}
@media screen and ( max-width: 900px){
.contenedor-menu{
    display: block;

}
.icon-menu{
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 23px;
    margin-top: 5px;
    cursor: pointer;
}
header h1{
    margin-left: 21px;
}
header{
    position: fixed;
    z-index: 40000;
}
.nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0,0,0.8);
    margin-top: 30px;
    width: 100%;
    height: 100vh;
    z-index: 4000;
}
.nav a{
    display:block;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    font-size: 15px;
    padding-bottom: 5px;
    border-bottom: solid 2px #ffffff;
    
}
.nav a:hover{
    background:rgba(256, 256, 256, 0.5)
}
header .nav a{
    margin-left: 0px;
}


.portada{
    height: auto;
}
                                    
.portada img{
    height: auto;
}
#imagen1 img{
    height: auto;
}
#imagen2{
    flex-direction: column;
}
#imagen2 .column1{
    width: 100%;
}
#imagen2 .column1 img{
    width: 200px;
    margin-bottom: 20px;
}
#imagen2 .column2{
    width: 100%;
}
#imagen2 .column2 img{
    height: 500px;
}
#imagen3 img{
    width: 497px;
}
#imagen4{
    
   align-items: center;
   flex-direction: column; 
}
#imagen4 h3{
    position: relative;
}
#imagen4 img{

margin-top: 40px;
width: 501px;
height: auto;
}
.section{
    height:100%;
}
footer{
    height: 80px;
}
}
@media screen and ( max-width: 400px){

    #imagen1 h3{
        font-size: 23px;
    }
    #imagen2 .column1 h3{
    margin-top: 20px;
    font-size: 23px;
    }
    #imagen2 .column1 img{
        margin-top: 13px;
    }  
    #imagen2 .column2 h3{
        font-size: 23px;
    }
    #imagen3 h3{
        margin-top:15px;
        font-size:23px;
    }
    #imagen3 img{
        width: 350px;
        margin-bottom: 15px;
    }
    #imagen4 h3{
        margin-top: 20px;
        font-size: 23px;
    }
    #imagen4 img{
        width: 350px;
        margin-top:0px;
    }
}